body {
    text-align: center;
    font : "Trebuchet MS", sans-serif, serif;
    font-size: large;
    text-decoration: none;
    background-image:url(Images/light-veneer.jpg);
    border: 12px solid rgba(172, 134, 63, 0.46);
    box-shadow: 0px -25px 9px rgba(183, 108, 20, 0.86);
    border-radius: 20%;
    padding: 5% 10%;
    margin: 50px 75px 100px 125;
}

.opic{
    margin-bottom: 0%;
}


.open{
    font-size: 300%;
    font-family: Georgia, serif;
}

.openp{
    margin-bottom: 10%;
    font-size: 110%;
    background-color: rgba(150, 66, 35, 0.32);
    border-radius:50%;
    font-weight: 800;
    
    
}

p{
    font-size: 100%;
    font-weight: 500;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: brown;
    
}

h2 a:hover{
    color: cadetblue;
    font
}

.wies{
    height: 25%;
    width: 25%;
    margin-top:4%;
    
}


div img{
    height: 300px;
    width: 400px;
    float: none;
    text-align:justify;
    border-radius: 100%;
     box-shadow: 0px -5px 9px rgba(150, 94, 27, 0.86);
    
}

.place{
    
    box-shadow: 10px 10px 10px 10px rgba(208, 143, 24, 0.49);
    border-radius: 100%;

}

img{
     max-width: 45%;
        height: auto;
        width: auto;
        float: none;
        border: px solid rgba(217, 59, 59, 0.26);
        border-radius: 10%;
        margin-bottom: 0%;

}

#gerhard{
    max-width: 45%;
    margin-top: 0%;
    margin-bottom: 0%;
    
}

figcaption{
    font-size: 80%;
    margin-bottom:0%;
    margin-left: 30%;
    margin-right: 30%
    
}

figure{
    margin-bottom: 7.9%
}

.place{
    
}